<div class="login-form">
  <%= form_for(@card, :html => {:multipart => true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% @number = 1 %>
      <%= f.select :category_id, options_for_select(@categories, @card.category_id), {:include_blank => "Kategoria"}, {:class => "form-control1"} %>

      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-condensed" id="card">
            <thead>
            <tr>
              <th class="col-sm-1"></th>
              <th class="col-sm-11"></th>
            </tr>
            </thead>
            <tbody>
            <% 10.times do %>
            <%= f.fields_for :question_in_cards, @card.question_in_cards do |s| %>
                <tr>
                  <td><%= @number %></td>
                  <td>
                    <%= s.select :question_id, options_for_select(@questions, s.object.question_id), {:include_blank => "Pytanie"}, {:class => "form-control1"} %>
                  </td>
                  <% @number = @number + 1 %>
                </tr>
            <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= f.submit "Zapisz", :class => "btn btn-danger btn-lg btn-block" %>
  <% end %>
</div>