<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">



      <li class="active-link">
        <%= link_to dashboard_path do%><i class="fa fa-tachometer"></i>Dashboard<% end %>
      </li>


      <li>
        <%= link_to questions_path do%><i class="fa fa-question-circle"></i>Lista pytań<% end %>
      </li>
      <li>
        <%= link_to new_question_path do%><i class="fa fa-question-circle-o"></i>Dodaj pytanie<% end %>
      </li>


      <li>
        <%= link_to categories_path do%><i class="fa fa-list-alt"></i>Lista kategorii pytań<% end %>
      </li>
      <li>
        <%= link_to new_category_path do%><i class="fa fa-plus"></i>Dodaj kategorię<% end %>
      </li>

      <li>
        <%= link_to cards_path do%><i class="fa fa-comments"></i>Lista kart<% end %>
      </li>
      <li>
        <%= link_to new_card_path do%><i class="fa fa-comment"></i>Dodaj kartę<% end %>
      </li>

    </ul>
  </div>

</nav>